body{
   background-color: black; 
}
.navigation-link{
    padding-top: 20px;
    border:1px solid transparent;
}
.text-white{
    color:white;
}
.navigation-link:hover{
    border-bottom: 1px solid yellow;
    text-decoration: none;
}
.main-container{
    background-image: url(bakers.jpeg);
    background-repeat: no-repeat;
    align-items: center;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    background-attachment: fixed;
    background-size: cover;
}
.m-c{
    padding-left: 70px;
    margin-top: 10px;
}
.chef{
    border: 10px solid transparent;
}
.card-title{
    align-items: center;
    display: flex;
    flex-direction: row;
}
#course-btn{
    display: flex;
    flex-direction: column; 
    
}
.card{
    width:250px;
    
}